body {
    margin: 0;
    padding: 0;
    background-color: #6D6875;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.con {
    width: 80%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.title {
    margin: 4% 0;
    width: 220px;
    color: #333;
    font-size: 3em;
    font-family: monospace;
    letter-spacing: 4px;
    text-decoration: underline;
    align-self: center;
}
#list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
.item {
    background-color: #E5989B;
    min-height: 40px;
    width: 200px;
    padding: 10px;
    margin: 0 auto 10% auto;
    color: #333;
    font-family: monospace;
    font-size: 1.3em;
    box-shadow: 2px 2px 14px #000;
    border-radius: 4px;
    white-space: wrap;
    display: flex;
    align-items: flex-end;
}
.con li {
    transition: all 0.3s ease-out;
    opacity: 0;
    min-height: 0;
}
.con li.item {
    opacity: 1;
    min-height: 40px;
}
#add-item {
    background-color: #6D6875;
    width: 150px;
    height: 40px;
    color: #333;
    font-size: 1.4em;
    border: 2px solid #333;
    margin-bottom: 10px;
    cursor: pointer;
    align-self: center;
}
#add-item:focus {
    outline:0;
}

@media only screen and (min-width: 800px) {
    .con {
        margin-top: 20px;
    }
    .item {
        margin: 0 auto 2% auto;
    }
    .title {
        margin: 1% 0;
    }
  }